.Online {
  margin-top: 1px;
  height: 40px !important;
  background-color: #000 !important;
}
.Online a {
  color: #fff;
}
.Online button {
  margin-top: 2px;
  margin-right: 100px;
  float: right;
  background-color: #fe9c01;
  font-size: 14px;
  border: none;
  outline: none;
}
.Online svg {
  font-size: 20px;
}
.Online button:hover {
  background-color: #fe9c01;
  color: #fff;
}
.Odd-logo {
  font-size: 22px;
  text-decoration: none;
  color: #ac9f9f;
}
.Odd-logo:hover {
  color: #ac9f9f;
}
a {
  text-decoration: none;
}
/* .NavBar-list a {
  color: red !important;
} */
.NavBar-list {
  margin-left: 70px !important;
}
.NavBar-list li {
  margin-left: 30px !important;
}

.NavBar-list a:hover {
  color: black;
  background-color: rgb(240, 155, 64);
  padding: 2px 8px !important;
  border-radius: 5px;
}
.NavBar-list a:active {
  background-color: rgb(240, 155, 64);
  padding: 2px 8px !important;
  border-radius: 5px;
}
.Nav-search {
  font-size: 24px;
}
/* Training Styling Part */
.Sub-training {
  margin-left: -300px;
  width: 100%;
  background-color: #f7f7f7;
  position: absolute;
  top: 90px;
}
/* .Sub-Training {
  background-color: antiquewhite;
  position: relative;
  top: 150px;
} */
.Sub-link {
  padding: 30px 0px;
}
.Sub-link li {
  margin-top: 15px;
}
/* Expertise Drop Styling */

.Expert-Drop {
  margin-left: 200px;
  width: 20%;
  background-color: #f7f7f7;
  position: absolute;
  top: 90px;
}
.Expert-Drop li {
  margin: 15px 0px;
  padding-left: -30px;

  text-align: center;
  font-size: 14px;
}
.Service-Drop {
  margin-left: -130px;
  width: 20%;
  background-color: #f7f7f7;
  position: absolute;
  top: 80px;
}
.Service-Drop li {
  margin: 15px 0px;
  padding-left: -30px;

  text-align: center;
  font-size: 14px;
}

/* Footer Styling Part */

.Footer {
  margin-top: 50px;
  height: 100%;
  background: url("../Assets/footer.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  /* background-attachment: fixed; */
}
.FooterContact {
  color: #fff;
  text-align: center;
  padding: 100px 0;
}
.FooterContact h1 {
  font-size: 45px;
  font-weight: 700;
}
.FooterContact p {
  margin: 30px 0;
  font-size: 20px;
}
.FooterContact button {
  padding: 15px 30px;
  color: #fff;
}
li {
  list-style: none;
}
.Sub-Footer {
  color: #fff;
  margin-top: -30px;
}
.Sub-Footer span {
  font-size: 18px;
  font-weight: 600;
}
.Sub-Footer h4 {
  color: #ffff;
  font-size: 35px;
  font-weight: 700;
  margin-top: -20px;
}
.Sub-Footer li {
  text-align: center;
  color: #ac9f9f;
  margin-top: 20px;
}
.Sub-Footer input {
  padding: 10px 10px;
  border: none;
  outline: none;
}

.Scroll button {
  color: #ffffff;
  position: absolute;
  right: 0;
  font-size: 2rem;
  margin-right: 3rem;
  margin-top: -20rem;
  padding: 0.5rem 0.8rem;
  border: none;
  background-color: #fe9c01;
  cursor: pointer;
  text-align: center;
}
.input1 {
  padding: 6px 10px;
  margin-right: 30px;
  width: 45%;
  background-color: #fff;
  border: none;
  outline: none;
}
.input2 {
  margin-top: 30px;
}
.Footer_Radio {
  margin-top: 30px;
}
.Footer_Radio input {
  margin-left: 10px;
}
.Footer_Radio label {
  margin-left: 5px;
}
.input3 {
  width: 30%;
  margin-left: 20px;
  padding: 6px 10px;
  background-color: #fff;
  border: none;
  outline: none;
}
.Student {
  margin-top: 40px;
}
.Work {
  margin-top: 40px;
}
.Footer3 {
  margin-top: 50px;
  height: 30%;
  background: url("../Assets/Dark.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}
.Footer3 .Sub-Footer {
  padding-top: 140px;
}
.Search {
  border: none;
  outline: none;
  width: 96%;
  height: 60px;
  background-color: #fff !important;
  border-bottom: 1px solid #ac9f9f;
  padding: 0px 30px;
}

.SeachBar span {
  cursor: pointer;
  margin-left: -60px;
  font-size: 25px;
}
.SignUP {
  margin: 100px 200px;
}
.SignUP input {
  margin: 10px 0;
}
.SignUP label{
  margin-bottom: -5px;
}
.SignUP button {
  margin: 10px 0;
}
@media (max-width: 900px) {
  .Sub-training {
    display: none;
  }
  .Footer_Radio {
    text-align: center;
  }
  .input3 {
    margin-top: 20px;
  }
  .input1 {
    margin-top: 20px;
  }
  .Expert-Drop {
    margin: 0;
    width: 80%;
  }
  .input1 {
    width: 100%;
    display: block;
  }
  .input3 {
    margin-left: 0;
    width: 100%;
    display: block;
  }
  .Online button {
    margin: 0;
    float: left;
    margin-left: 15px;
  }
}
